/* styles for solveme */
.solveme { border: 2px dotted red; }
.solveme.correct { border: 2px solid blue; }
/* styles for hidden solutions */
.solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
}
.solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.solution button {
    height: 2em;
    margin-bottom: 0.5em;
}
.solution pre.sourceCode {
    border-color: green;
}
