/* styles for webex-solveme */
.webex-solveme { border: 2px dotted red; }
.webex-solveme.webex-correct { border: 2px solid blue; }
/* styles for hidden solutions */
.webex-solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
}
.webex-solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.webex-solution button {
    height: 2em;
    margin-bottom: 0.5em;
}
.webex-solution pre.sourceCode {
    border-color: green;
}
