:root {
  --pink: #983E82;   /* hsl(315, 42%, 42%) */
  --orange: #E2A458; /* hsl( 33, 70%, 62%) */
  --yellow: #F5DC70; /* hsl( 49, 87%, 70%) */
  --green: #59935B;  /* hsl(122, 25%, 46%) */
  --blue: #467AAC;   /* hsl(209, 42%, 47%) */
  --purple: #61589C; /* hsl(248, 28%, 48%) */
}

/* styles for webex-solveme */
.webex-solveme.webex-incorrect {
    border: 2px dotted var(--pink);
    background-color: #edaddd;
}
.webex-solveme.webex-correct {
    border: 2px solid var(--green);
    background-color: #c0edc2;
}
/* styles for hidden solutions */
.webex-solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
    margin-bottom: 10px;
}
.webex-solution.open {
    height: auto;
    border: 2px solid var(--blue);
    border-radius: 5px;
}
.webex-solution button {
    height: 2em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--blue);
    color: white;
    padding: 0 0.5em;
}
.webex-solution pre.sourceCode {
    border-color: var(--green);
}
